<!-- <div id="Filtros">
  <label for="departamentosSelect">Departamento</label>
  <select id="departamentosSelect"></select>
  <label for="pedaniasSelect">Pedania</label>
  <select id="pedaniasSelect"></select>
  <label for="radiourbanoSelect">Radio Urbano</label>
  <select id="radiourbanoSelect"></select>
  <label for="circunscripcionesSelect">circunscripciones</label>
  <select id="circunscripcionesSelect"></select>
  <label for="manzanasSelect">Manzanas</label>
  <select id="manzanasSelect"></select>
</div> -->
<div id="Filtros">
  <div>
    <label for="departamentosSelect">Departamento</label>
    <select id="departamentosSelect"></select>
  </div>
  <div>
    <label for="pedaniasSelect">Pedanía</label>
    <select id="pedaniasSelect"></select>
  </div>
  <div>
    <label for="radiourbanoSelect">Radio Urbano</label>
    <select id="radiourbanoSelect"></select>
  </div>
  <div>
    <label for="circunscripcionesSelect">Circunscripciones</label>
    <select id="circunscripcionesSelect"></select>
  </div>
  <div>
    <label for="manzanasSelect">Manzanas</label>
    <select id="manzanasSelect"></select>
  </div>
</div>

<div id="mapa" style="height: 900px"></div>
