/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
}


.snackBar{
    margin-top: 77px !important;
}

.leaflet-popup-content{
    margin: 0 !important;
}

.leaflet-popup-content-wrapper{
    padding: 0 !important;
}

.leaflet-container a.leaflet-popup-close-button{
    color: #fff !important
}