#contenedor {
    display: flex;
    align-items: end;
    gap: 20px;
    justify-content: start;
}

.title p {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}

.filtros-display {
    display: flex;
    align-items: end;
    gap: 25px;
}

.select {
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    border: 1px solid #626262;
    color: #626262;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    min-width: 140px;
    height: 38px;
    // text-align: center;
    display: block;
}

.select:disabled {
    border: 1px solid #c0c0c08b;
    background-color: #EFEFEF4D;
    cursor: auto;
}

.input {
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
    border: 1px solid #626262;
    color: #626262;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 200px;
    height: 38px;
    // text-align: center;
    display: block;
}

.input:disabled {
    border: 1px solid #c0c0c08b;
    background-color: #EFEFEF4D;
    cursor: auto;
}

.filtro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedorBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.containerDisplay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border: 1px solid #D6D5D5;
    border-radius: 30px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.btnBuscar {
    height: 38px;
    border-radius: 5px;
    border: 0px;
    background-color: #FF5700;
    color: #ffffff;
}

.btnBuscar:hover {
    background-color: #ff7b39;
}

.btnLimpiar {
    height: 38px;
    border-radius: 5px;
    border: 0px;
    background-color: #d70000;
    opacity: 0.9;
    color: #ffffff;
}

.btnLimpiar:hover {
    background-color: #d73939;
}


.filtro p {
    margin: 0;
    // text-align: center;
    font-size: 13px;
}

.divider {
    border: 1px solid #D6D5D5;
    height: 90px;
}

.checkboxFiltro {
    margin-right: 5px;
}


.toggle-label {
    display: inline-block;
    margin-right: 10px;
    width: 35px;
    height: 20px;
    background-color: #ccc;
    border-radius: 17px;
    position: relative;
}

.toggle-label:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: 0.3s;
}

#toggleFiltros{
    display: none;
}

#toggleFiltros:checked + .toggle-label:before {
    transform: translateX(16px);
  }
#toggleFiltros:checked + .toggle-label {
    background-color: #ff7b39;
}
#toggleBuscar{
    display: none;
}

#toggleBuscar:checked + .toggle-label:before {
    transform: translateX(16px);
  }
#toggleBuscar:checked + .toggle-label {
    background-color: #ff7b39;
}
