<div id="filtros">

  <div class="title">
    <p>Filtros: </p>
  </div>
  <div class="filtros-display">

    <div class="filtro">
      <p class="filtro-title">Departamento</p>
      <select id="departamentosSelect" class="select"></select>
    </div>
    <div class="filtro">
      <p class="filtro-title">Pedanía</p>
      <select id="pedaniasSelect" class="select"></select>
    </div>
    <div class="filtro">
      <p class="filtro-title">Radio Urbano</p>
      <select id="radiourbanoSelect" class="select"></select>
    </div>
  </div>
</div>