/* sidebar.component.css */
.sidenav-container {
    height:  100%;
  }
  .sidenav {
    width:  200px;
    box-shadow:  3px  0  6px rgba(0,0,0,0.16);
  }
  .mat-drawer-content {
    padding:  20px;
  }