<div class="title"> 
    <!-- <i class="fa-solid fa-home icon-title"></i>
    <p class="title">INICIO</p> -->
    <!-- <app-powerbi-report [reportUrl]="urlDelInforme" [powerbiReportId]="powerbiReportId"></app-powerbi-report> -->
    <!-- <iframe title="ANALISIS_ESCRITURACION" width="1140" height="541.25" src="https://app.powerbi.com/groups/me/reports/50c9465c-3445-4949-8ded-4cde7950c086/ReportSection?experience=power-bi&groupId=50c9465c-3445-4949-8ded-4cde7950c086" frameborder="0" allowFullScreen="true"></iframe> -->
    <iframe title="ANALISIS_ESCRITURACION" width="1140" height="541.25" [src]="safeReportUrl" frameborder="0" allowFullScreen="true"></iframe>
  </div>

  