<div class="title"> 
    <!-- <i class="fa-solid fa-home icon-title"></i>
    <p class="title">INICIO</p> -->
    <!-- <app-powerbi-report [reportUrl]="urlDelInforme" [powerbiReportId]="powerbiReportId"></app-powerbi-report> -->
    <iframe title="ANALISIS_ESCRITURACION" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=50c9465c-3445-4949-8ded-4cde7950c086&autoAuth=true&ctid=4df329da-b94a-4ea1-8013-338f10a162a2" frameborder="0" allowFullScreen="true"></iframe>
  </div>
