  .headerContainer{
    display: flex;
    flex-direction: column;
  }

  .header {
    background-color: #333333;
    color: #fff;
    padding:  10px  0;
    box-shadow:  0px 5px 5px -3px rgba(0, 0, 0, 0.3);
    height: 75px;
  }

  .navbar {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logoTitle{
    margin-left: 140px;
  }

  .logoContainer{
    padding: 5px;
    background-color: #ffffffc6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titleContainer{
    margin-left: 10px;
    display: flex;
    align-items: end;
    justify-content: center;
  }

  .title{
    font-family: 'Baloo Bhai 2', sans-serif !important;
    font-size: 24px !important;
  }

  .subtitle{
    font-family: 'Baloo Bhai 2', sans-serif !important;
    font-size: 16px !important;
  }
  
  .title-page{
    font-family: 'Baloo Bhai 2', sans-serif !important;
    font-size: 24px !important;
    margin-left: 10px;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 25px;
    margin-bottom: 50px;
    z-index: 1;
     /* 125px es la altura aproximada del header y el footer combinados */
  }
  
  .body{
    display: flex;
  }

  .navbar-brand img {
    height:  40px;
  }

  .navbar-brand p {
    color: #fff;
    margin-left:  10px;
    margin-bottom: 0;
  }

  .burgerIcon{
    color: #fff;
    height: 20px;
    cursor: pointer;
  }
  
  .userIcon{
    color: #fff;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }


  .sidenav{
    background-color: #333333;
    padding-left: 25px;
    padding-right: 25px;
    width: 195px;
    display: flex;
    flex-direction: column;
    gap: 25px ;
    justify-content: space-between;
    max-height: calc(100vh - 125px);
  }

  .sidenav-bottom{
    padding-bottom: 10px;
  }

  .sidenav-options{
    display: flex;
    flex-direction: column;
    gap: 25px ;
  }

  .logout-button{
    background-color: #fff;
    color: #333333;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    text-decoration: none;
    margin-top: 35px;
    padding: 15px;
  }

  .sidenav-icon{
    color: #FF5700;
    height: 20px;
  }

   .router-link {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    color: #ddd;
    text-decoration: none;
   }

   .router-link:hover{
    background-color: #1e1e1e;
   }

